<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @dining_table.customer_id %>
</p>

<%= link_to 'Edit', edit_dining_table_path(@dining_table) %> |
<%= link_to 'Back', dining_tables_path %>
