<div class="portlet">
  <div class="portlet-title">
      <div class="caption">
          <i class="fa fa-bell-o">

          </i>Customer Order List
      </div>
  </div>
  <div class="portlet-body" style="display: block;">
      <div class="table-scrollable">
          <table class="table table-striped table-bordered table-advance table-hover">
              <thead>
                  <tr>
                      <th>
                          <i class="fa fa-television"></i> Food </th>
                      <th class="hidden-xs">
                          <i class="fa fa-user"></i> Name </th>
                      <th>
                          <i class="fa fa-shopping-cart"></i> Price</th>
                      <th> </th>
                  </tr>
              </thead>
              <tbody>
                
                    <td class="highlight">
                        <p id="name"></p>
                    </td>
                    <td>
                      <p id="price"></p>
                    </td>
              </tbody>
          </table>
      </div>
  </div>
  </div>

<script>
food_order = JSON.parse(localStorage.getItem('food')) || [];
for (i = 0; i < food_order.length; i++) {
  $.getJSON( "/foods/" + food_order[i], function( food ) {
    // content += "test" + food.name + "<br>";
    console.log(food.name, food.price)
    document.getElementById("name").innerHTML = '<table>'+'<tr>'+'<td>' + food.name +'</table>';
    document.getElementById("price").innerHTML =  '<table>'+'</td>'+'</tr>'+'<td>' + food.price + '</td>'+'</table>';
  });

}
</script>
