<div class="container">
  <div class="portlet box yellow">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-gift">
        </i>
          Food Menu
      </div>
    </div>
    <div class="portlet-body">
        <%= render 'foods', foods:  @food_starter, title: 'Starters' %>

        <%= render 'foods', foods:  @food_main_course, title: 'Main Course' %>

        <%= render 'foods', foods:  @food_dessert, title: 'Desserts' %>
    </div>
  </div>
</div>

<div class="modal order bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title" id="gridSystemModalLabel">Your Order</h5></div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<script>
var food_order = []
$('.food').click(function(){
  food_id = this.id
  food_order.push(food_id)
  console.log(food_order)
});

$('.remove').click(function(){
  var element = this.id
  var index = food_order.indexOf(element);
  if (index >= 0) {
    food_order.splice( index, 1 );
  }
  console.log(food_order)
});

</script>
