<div class="portlet">
  <div class="portlet-title">
      <div class="caption">
          <i class="fa fa-bell-o">

          </i>Customer Order List
      </div>
      <div class="actions">
        Clear All Menu
        <a class="btn btn-circle btn-icon-only btn-default" onClick="window.location.reload()" id="clear">
              <i class="icon-trash"></i>
        </a>

  </div>
  <div class="portlet-body" style="display: block;">
      <div class="table-scrollable">
          <table class="table table-striped table-bordered table-advance table-hover" id="order" =>
          </table>
      </div>
  </div>

  <a href="#" id="confirm-order">Confirm Order</a>
  <%= link_to "Back to Menu", customer_customer_foods_path %>
  </div>

<script>
food_order = JSON.parse(localStorage.getItem('food')) || [];
var customer_url = "<%= customer_path(@customer).html_safe %>";
var update_customer_order_url = "<%= customer_update_food_path(id: @customer.id).html_safe %>";
console.log(food_order)
var content = '<thead><tr><th><i class="fa fa-television"></i> Food </th><th><i class="fa fa-shopping-cart"></i> Price</th></tr></thead>';
for (i = 0; i < food_order.length; i++) {
  $.getJSON( "/foods/" + food_order[i], function( food ) {
    content += '<tr>' + '<td>' + food.name + '</td>' + '<td>' + food.price + '</td>' + '</tr>';
    document.getElementById("order").innerHTML =  content;
  });
}

data1 = {customer_food_order: food_order}
$('#confirm-order').click(function(){
  $.ajax({
    method: "PATCH",
    url: update_customer_order_url,
    data: data1
  })
  .then(function(res){
    window.location.assign(customer_url);
    // $(".confirm").click();
  });
  food_order = []
  localStorage.setItem('food', JSON.stringify(food_order));
});

$('#clear').click(function(){
  food_order = []
  localStorage.setItem('food', JSON.stringify(food_order));
});
</script>
