<div class="page-wrapper-row full-height">
  <div class="page-wrapper-middle">
    <div class="page-container">
      <div class="page-content-wrapper">
        <div class="page-head">
        </div>
        <div class="page-content">
            <h1 class>Customer Page</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
